# Entorno virtual
env/

# Node modules
warehouse_manager/warehouse-frontend/node_modules/

# Archivos de log
*.log

# Archivos de caché de Python
*.pyc
__pycache__/

# Archivos de configuración
*.env

